@model SchoolLibrary3.ViewModels.Home.BookViewModel

@{
    ViewData["Title"] = "Редактирование книги";
}

<h1 >
    Редактирование книги
</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Home" asp-action="EditBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" asp-format="dd.mm.yyyy" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--
                <label> asp-for="GenreId" class="control-label"></label>
                <input asp-for="GenreId" class="form-control" />
                <span asp-validation-for="GenreId" class="text-danger"></span> 
                -->
                @Html.DropDownListFor(model => model.GenreId, Model.Geners as SelectList)
            </div>
            <div class="form-group">
                <label asp-for="TotalPages" class="control-label"></label>
                <input asp-for="TotalPages" class="form-control" />
                <span asp-validation-for="TotalPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--
                <label asp-for="StatusId" class="control-label"></label>
                <input asp-for="StatusId" class="form-control" />
                <span asp-validation-for="StatusId" class="text-danger"></span>
                -->
                @Html.DropDownListFor(model => model.StatusId, Model.Statuses as SelectList)
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Storage">Вернуться обратно к списку</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
