@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Home" asp-action="Private">Вход</a>
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Вы находитесь на сайте Школьной библиотеки. Чтобы начать пользоваться Личным кабинетом, необходио зарегистрироваться. Обратитесь к Администратору библиотеки для получения приглашения на регистрацию (потребуется работоспособный адрес электронной почты).</p>
</div>
