@model SchoolLibrary3.ViewModels.Home.PrivacyViewModel
@if (Model.TargetMessage == String.Empty)
{
    <h3>@Html.DisplayText("HeaderMessage")</h3>
    <h4>Что такое cookie?</h4>
    <p>Cookie – это простой текстовый файл, который создается веб-сервером и хранится на вашем компьютере или мобильном устройстве. Только этот веб-сервер будет иметь возможность получать или считывать содержимое этих сookie.</p>
    <p>Cookie индивидуальны для вашего веб-браузера. Они содержат определенные личные данные – уникальный идентификатор, название сайта и некоторые числа. С помощью cookie веб-сайт запоминает некоторые данные, такие как ваши личные настройки.</p>
    <p>Файлы сookie могут быть установлены веб-сайтом, который вы посещаете («основные файлы сookie»), или они могут быть установлены другими веб-сайтами, которые запускают содержимое на странице, которую вы просматриваете («сторонние файлы сookie»).</p>
    <p>Для получения подробной информации о файлах сookie можно почитать руководство: <a href="http://computer.howstuffworks.com/cookie.htm" target="_blank">Как работают файлы cookie в Интернете</a></p>
    <h4>Разрешить/Запретить cookie</h4>
    <p>Пользуясь нашим веб-сайтом, вы даете согласие на использование и хранение файлов сookie на вашем устройстве. Вы можете просматривать наш веб-сайт без использования файлов сookie, но при этом некоторые сервисы (например, личный кабинет), будут недоступны.</p>
    <p>Вы можете отключить сохранение файлов сookie на вашем устройстве, выбрав в настройках своего браузера опцию "не принимать файлы cookie". Следует помнить, что большинство браузеров принимают файлы cookie автоматически.</p>
    <p>Ко всему прочему, вы можете в любое время удалить файлы cookie, которые были сохранены на вашем устройстве. Инструкции по удалению файлов cookie можно найти в руководстве к браузеру или устройству.</p>
}
else
{
    <div id="agreementText">
        <h3>@Html.DisplayText("HeaderMessage")</h3>
        <p>Настоящим, в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных», вы подтверждаете свое согласие на обработку МАОУДО Центр «Диалог» юридический адрес: 144005, Московская область, городской округ Электросталь, ул. Пушкина, д. 20а ваших персональных данных.</p>
        <p>Настоящим согласием вы подтверждаете, что проинформированы о том, что под обработкой персональных данных понимаются действия с персональными данными, определённые в Федеральном законе № 152-ФЗ от 27.07.2006 «О персональных данных», а именно: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (предоставление, доступ), блокирование, удаление персональных данных, совершаемые с использованием средств автоматизации МАОУДО Центр «Диалог».</p>
        <p>Данным согласием вы подтверждаете, что проинформированы о том, что обработка предоставляемых вами персональных данных может осуществляется в следующих целях:</p>
        <ul>
            <li>@Html.DisplayText("TargetMessage")</li>
        </ul>
        <p>Настоящее согласие распространяется на следующие персональные данные: @Html.DisplayText("ListMessage").</p>
        <p>Срок действия согласия является неограниченным, однако, Вы вправе в любой момент отозвать настоящее согласие путём направления письменного уведомления на адрес: 144005, Московская область, городской округ Электросталь, ул. Пушкина, д. 20а, с пометкой «отзыв согласия на обработку персональных данных в системе регистрации школьной библиотеки». Удаление ваших персональных данных будет произведено в течение 30 дней с момента получения такого уведомления. В случае отзыва согласия на обработку персональных данных администрация и работки библиотеки вправе продолжить обработку персональных данных без согласия при наличии оснований, указанных в пунктах 2-11 части 1 статьи 6 (условия обработки персональных данных), части 2 статьи 10 (специальные категории персональных данных) Федерального закона от 27.07.2006 №152 «О персональных данных».</p>
        <p>МАОУДО Центр «Диалог» гарантирует соблюдение следующих прав субъекта персональных данных: право на получение сведений о том, какие персональные данные субъекта персональных данных хранятся в МАОУДО Центр «Диалог»; право на удаление, уточнение или исправление хранящихся в МАОУДО Центр «Диалог» персональных данных; иные права, установленные действующим законодательством Российской Федерации.</p>
        <p class="agreementAnchor">Закрыть</p>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".agreementAnchor").click(function () {
            $("#agreementText").slideToggle("1000");
        });
    });
</script>