@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" role="alert">
        Мы используем файлы cookies, которые сохраняются на вашем компьютере.<br />Нажимая кнопку «Принять», вы подтверждаете, что проинформированы об использовании cookies на этом сайте.<br /><a asp-area="" asp-controller="Home" asp-action="PrivacyAgreement" asp-route-type="0">Подробнее</a>.
        <button type="button" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            Принять
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
                $("#cookieConsent").remove();
            }, false);
        })();
    </script>
}
