/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import "../fonts/esqadero/esqadero.css";

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    min-height: 100%;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font: 10pt 'Esqadero FF CY 4F';
    -webkit-font-smoothing: antialiased;
}

#header {
    position: absolute;
    min-height: 203px;
    max-height: 203px;
    padding: 0;
    width: 100%;
    background: #fff url(../images/RoboSense2018.png) no-repeat 0 0;
}

#content {
    position: relative;
    width: 100%;
    min-height: 380px;
    padding-bottom: 90px;
    overflow-x: hidden;
    overflow-y:auto;
}

#main {
    float: left;
    width: 100%;
    padding: 250px 0 0 0;
}

#navigation {
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    margin: 0;
}

#logon, #logout, #logon:visited, #logout:visited {
    position: absolute;
    right: 0;
    top: -138px;
    padding: 4px 26px 4px 10px;
    background: #fff url(../images/ic_exit_to_app_18pt.png) no-repeat top right;
    color: #000;
}

    #logout, #logout:visited {
        background: #fff url(../images/ic_exit_from_app_18pt.png) no-repeat top right;
    }

#meta {
    position: absolute;
    max-width: 768px;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 7px 0;
    margin: 0;
    text-align: center;
    background-color: #FFD501;
    border-radius: 5px 5px 0 0;
    border-width: 0 1px 1px;
}

#header h4 {
    text-align: right;
    padding-right: 35px;
    padding-top: 64px;
    font-size: 110%;
    font-weight: normal;
    color: #898989;
}

#header h1 {
    position: absolute;
    top: 96px;
    left: 272px;
    margin: 0;
    padding: 0;
    font: 50pt 'Esqadero FF CY 4F';
}

/* Цветные буквы */
.char1 {
    color: #E90C15;
}

.char2 {
    color: #FF7715;
}

.char3 {
    color: #FFD501;
}

.char4 {
    color: #00A0E4;
}

.char5 {
    color: #AC43C7;
}

.char6 {
    color: #66BA47;
}

.char7 {
    color: #FFD501;
}

.char8 {
    color: #00A0E4;
}

.char9 {
    color: #FF7715;
}

/* Меню */
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#nav {
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    display: table;
    padding: 10px;
    margin: 0 0 0 216px;
    position: relative;
}

    #nav ul {
        border-radius: 0 5px 5px 5px;
        border-width: 0 1px 1px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
        left: -9999px;
        overflow: hidden;
        padding: 20px 0 10px;
        position: absolute;
        top: -9999px;
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -moz-transition: -moz-transform 0.1s linear;
        -ms-transition: -ms-transform 0.1s linear;
        -o-transition: -o-transform 0.1s linear;
        -webkit-transition: -webkit-transform 0.1s linear;
        transition: transform 0.1s linear;
    }

    #nav li {
        float: left;
        position: relative;
    }

        #nav li a {
            color: #00A0E4;
            display: block;
            font-size: 110%;
            padding: 7px 18px;
            text-decoration: none;
        }

        #nav li:hover > a {
            border-radius: 5px 5px 5px 5px;
            color: #fff;
        }

        #nav li:hover > #firstItem {
            background-color: #66BA47;
            border-radius: 5px 5px 0 0;
        }

        #nav li:hover > #secondItem {
            background-color: #FFD501;
            border-radius: 5px 5px 0 0;
            color: #000;
        }

        #nav li:hover > #thirdItem {
            background-color: #E90C15;
        }

        #nav li:hover > #fourthItem {
            background-color: #FF7715;
        }

        #nav li:hover > #firstItem + ul {
            background-color: #66BA47;
            border: 1px solid #66BA47;
        }

        #nav li:hover > #secondItem + ul {
            background-color: #FFD501;
            border: 1px solid #FFD501;
        }

        #nav li:hover ul.subs {
            left: 0;
            top: 29px;
            width: 200px;
            -moz-transform: scaleY(1);
            -ms-transform: scaleY(1);
            -o-transform: scaleY(1);
            -webkit-transform: scaleY(1);
        }

            #nav li:hover ul.subs li a {
                color: #fff;
            }

        #nav li:hover > #secondItem + ul.subs li a {
            color: #000;
        }

    #nav ul li {
        width: 100%;
    }

        #nav ul li:hover > a {
            background-color: #AC43C7 !important;
            border-radius: 5px 5px 5px 5px;
        }

#main h2 {
    font-weight: bold;
    font-size: 160%;
    text-align: center;
}

#main h3 {
    font-weight: bold;
    font-size: 140%;
    text-align: center;
    margin: 0;
    padding: 15px 5px 15px 5px;
    clear: both;
    color: #66BA47;
}

#main h4 {
    font-weight: bold;
    font-size: 120%;
    text-align: center;
    margin: 0;
    padding: 15px 5px 15px 5px;
    text-transform: uppercase;
    color: #FF7715;
}

#main h5 {
    font-weight: bold;
    font-size: 140%;
    margin: 0;
    padding: 5px;
}

#main h6 {
    font-style: italic;
    font-size: 110%;
    text-align: right;
    margin: 0;
    padding: 5px;
}

#main p, #main ul {
    font-size: 110%;
    line-height: 150%;
    margin-bottom: 10px;
}

#main ul {
    margin-left: 30px;
}

#main a {
    color: #00A0E4;
}

#main table {
    margin: 10px auto 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 100%;
}

    #main table th, #main table td {
        padding: 6px 4px;
        border: solid 1px #AC43C7;
    }

    #main table th {
        background: #FFD501;
        color: #000;
        border-color: #E90C15;
    }

#main table th.group1 {
    background: #FF7715;
}

#main table th.group2 {
    background: #FFD501;
}

#main table th.group3 {
    background: #00A0E4;
}

#main table th.group4 {
    background: #AC43C7;
}

#main table th.group5 {
    background: #66BA47;
}

#main table th.group6 {
    background: #FFD501;
}

#main table th.group7 {
    background: #00A0E4;
}

#main table th.group8 {
    background: #FF7715;
}

    #main table tr td span {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 120%;
        font-weight: bold;
    }

    #main table tr td.center {
        text-align: center;
    }

.text-danger {
    color: #a94442;
}

a.text-danger:hover,
a.text-danger:focus {
    color: #843534;
}

#editorFS {
    border: 1px solid #AC43C7;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: 16px 0;
    padding-bottom: 10px;
}

#QuotaMessage
{
    position:absolute;
    top:334px;
    right:10px;
    width:510px;
    color:red;
}

#QuotaMessage > p
{
    text-align:center;

}

#tableFS {
    border: none;
    border-top: 1px solid #AC43C7;
    margin: 16px 0;
    padding-bottom: 10px;
}

    #tableFS > legend, #editorFS > legend {
        display: block;
        margin: 0 20px;
        padding: 0 10px;
        color: #FF7715;
        font-size: 120%;
        font-weight: normal;
    }

#editorFS > label {
    color: #169C16;
    font-size: 120%;
    display: block;
    margin: 8px 0 4px 10px;
}

#editorFS > input, #editorFS > select, #editorFS > p {
    margin: 4px 0 0 10px;
}

#editorFS input.inline, #editorFS select.inline {
    display: inline;
}

#editorFS input.ColorSubmit {
    display: block;
    margin: 0 15px 5px auto;
    padding: 10px 15px;
    background: #FFD501;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
}

.rightAligned {
    text-align: right;
}

.disabledTextBox {
    width: 400px;
    background-color: #fff;
    border: none;
}

#editorFS > label.right-shifted {
    position: relative;
    top: -25px;
    padding-left: 420px;
    margin-bottom: -20px;
}

#editorFS > #fmContainer {
    float: left;
    height: 160px;
    width: 350px;
    overflow-y: scroll;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 3px;
    border: solid 1px #000000;
}

#fmContainer li, #csContainer li
{
    display: block;
}

#fmContainer li input, #csContainer li input
{
     margin-right: 3px;
}

#editorFS > #middleDiv {
    float: left;
    width: 60px;
}

    #editorFS > #middleDiv button {
        display: block;
        width: 35px;
        margin: auto;
        margin-bottom: 35px;
    }

#editorFS > #csContainer {
    float: left;
    height: 160px;
    width: 320px;
    margin-left: 0;
    margin-bottom: 10px;
    padding: 3px;
    border: solid 1px #000000;
}

/* Дополнительное меню */
.nav {
    position: absolute;
    width: 520px;
    min-width: 520px;
    height: 150px;
    top: 100px;
    left: -560px;
    margin: 0;
    padding: 15px 20px;
    background: #E90C15;
    z-index: 2000;
    border-radius: 8px 8px 8px 8px;
}

.nav-toggle {
    position: absolute;
    right: -26px;
    top: 0;
    padding: 0.5em;
    background: inherit;
    color: #fff;
    cursor: pointer;
    z-index: 2001;
    border-radius: 4px 4px 4px 4px;
}

    .nav-toggle:after {
        content: '\2630';
        text-decoration: none;
    }

[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}

.nav-toggle:hover {
    color: #f4f4f4;
}

[id='nav-toggle'] {
    position: absolute;
    display: none;
}

    [id='nav-toggle']:checked ~ .nav {
        left: 0;
        overflow-y: auto;
    }

        [id='nav-toggle']:checked ~ .nav > .nav-toggle {
            right: 0;
        }

.nav h2 {
    width: 90%;
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 110%;
    color: #fff;
}

    .nav h2 a {
        text-decoration: none;
        text-transform: uppercase;
    }

.nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .nav > ul > li {
        line-height: 2.5;
    }

        .nav > ul > li > a {
            display: inline-block;
            position: relative;
            padding: 0;
            color: #fff;
            width: 100%;
            text-decoration: none;
        }

            .nav > ul > li > a:hover, .nav > ul > li > a:focus {
                color: #dadada;
            }

            .nav > ul > li > a:before {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                height: 1px;
                width: 100%;
            }

            .nav > ul > li > a:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 1px;
                width: 100%;
                background: #fff;
            }
/* Персональные данные */
.agreementAlert {
    margin: 6px;
    color: red;
}

div[id^="agreementText"] {
    width: 736px;
    position: absolute;
    margin: 0 auto;
    background: #f7f7f7;
    padding: 16px;
    border: 1px solid #A5A5A5;
    z-index: 2999;
    top: 0;
    overflow: visible;
    display: none;
}

[class^="agreementAnchor"] {
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* GDRP */
#cookieConsent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    margin: 0 auto;
    padding: 96px 34px 0 34px;
    background-color: gold;
    z-index: 8;
    opacity: 0.84;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
}

    #cookieConsent button {
        display: block;
        margin: 70px auto 5px auto;
        padding: 10px 15px;
        background: #FFF;
        opacity: 1;
        z-index: 9;
        border: 0 none;
        cursor: pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        text-transform: uppercase;
    }