@{
    ViewBag.Title = "Переустановка пароля (если он был забыт)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<p>Проверьте электронную почту, чтобы переустановить пароль</p>