@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="rightAligned">@Html.ActionLink("Изменить номер телефона", "Edit", "Account")</p>
<fieldset id="editorFS">
    <legend>@ViewBag.Title</legend>
    <p>Здесь вы можете работать с библиотечным фондом школы</p>
    <p>Воспользуйтесь меню личного кабинета (красный квадратик в левом верхнем углу), чтобы начать.</p>
    <p>Рекомендуемая последовательность ввода данных:</p>
    <ul>
        <li>Ввод данных </li>
        <li>Ввод данных </li>
        <li>Создание </li>
    </ul>
</fieldset>