@{
    ViewBag.Title = "Личный кабинет Администратора";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="rightAligned">@Html.ActionLink("Список МОУ/Семейных команд", "Schools")</p>
<p class="rightAligned">@Html.ActionLink("Список представителей", "Accounts", "Account")</p>