@{
    ViewBag.Title = "Контакты";
}
<h3>Организацию и проведение Фестиваля осуществляют:</h3>
<h4>МАОУДО Центр «Диалог»</h4>
<p>
    E-mail: <a href="mailto:robolab@dialog-el.ru">robolab@dialog-el.ru</a>
</p>
<p>
    Сайт: <a href="https://estaldialog.edumsko.ru">https://estaldialog.edumsko.ru</a>
</p>
<p>
    Адрес: 144005, Московская обл., г.о. Электросталь, ул. Пушкина, дом 20а
</p>
<p>
    Телефоны: +7(496) 574-61-17, +7(496) 574-61-29 (факс, автоответчик)
</p>
<p>
    Контактное лицо: Майсова Татьяна Борисовна - директор МАОУДО Центр
    «Диалог», Евдокимов Илья Викторович - системный администратор. Тел.: +7(496) 574-61-17, +7(991) 310-77-38
</p>
<h4>Управление образования Администрации городского округа Электросталь</h4>
<p>
    E-mail: <a href="mailto:uo-modern@yandex.ru">uo-modern@yandex.ru</a>
</p>
<p>
    Сайт: <a href="https://uo-el.edumsko.ru">https://uo-el.edumsko.ru</a>
</p>
<p>
    Контактное лицо: Каштанова О.А. - начальник отдела модернизации образования Управления
    образования. Тел.: +7(496) 571-99-16
</p>
<h4>ПАО «Машиностроительный завод»</h4>
<p>
    Сайт: <a href="http://www.elemash.ru">http://www.elemash.ru</a>
</p>
<p>
    E-mail: <a href="mailto:VVKryukova@rosatom.ru">VVKryukova@rosatom.ru</a>
</p>
<p>
    Контактное лицо: Крюкова В.В. - менеджер группы внешних коммуникаций отдела по связям с общественностью ПАО «МСЗ». Тел.: +7(496) 577-59-86
</p>