@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <p class="rightAligned">@Html.ActionLink("Изменить номер телефона", "Edit", "Account")</p>
    <fieldset id="editorFS">
        <legend>@ViewBag.Title</legend>
        <p>Здесь вы можете зарегистрировать участников Фестиваля "RoboSense" от своей организации или семьи.</p>
        <p class="agreementAlert">ВНИМАНИЕ! Не используйте для работы в Личном кабинете браузер Microsoft Explorer - это приводит к проблемам при вводе информации.</p>
        <p>Воспользуйтесь меню личного кабинета (красный квадратик в левом верхнем углу), чтобы ввести информацию о руководителях, участниках и командах.</p>
        <p>Рекомендуемая последовательность ввода данных:</p>
        <ul>
            <li>Ввод данных о руководителях</li>
            <li>Ввод данных участников</li>
            <li>Создание команд из руководителей и участников</li>
        </ul>
        <p>Внимание! Внесение изменений в данные участников, руководителей и команд возможно до @ViewBag.DeadLine.<br />После этой даты редактирование будет не доступно. Пожалуйста, учитывайте данное обстоятельство при планировании своей работы.</p>
    </fieldset>
@section privateNav {
    <partial name="PrivateMenu" />
}