@{
    ViewData["Title"] = "RegistrationHowTo";
}
<h2>Порядок регистрации Фестиваля «RoboSense»</h2>
<h4>ОБЩИЕ ПОЛОЖЕНИЯ</h4>
<p>Регистрацию команд Фестиваля осуществляют <strong>Представители</strong>.</p>
<p>Представитель - это единственное лицо, представляющее на Фестивале интересы десткого сада, школы, учреждения дополнительного образования или семьи в части регистрации команд через личный кабинет Представителя на официальном сайте Фестиваля.</p>
<h4>Порядок регистрации Представителей</h4>
<h3>Для детских садов, школ или учреждений дополнительного образования г.о. Электросталь</h3>
<p>Администрации учреждения необходимо направить начальнику отдела модернизации образования Каштановой О.А. адрес электронной почты Представителя учреждения.</p>
<h3>Для школ и учреждений дополнительного образования других населённых пунктов, а также ВСЕХ семейных команд.</h3>
<p>Необходимо написать письмо на адрес электронной почты <strong>registration@robosense.ru</strong> с темой "Регистрация на Фестиваль «RoboSense»".</p>
<p>В письме ОБЯЗАТЕЛЬНО нужно указать три реквизита:</p>
<ul>
    <li>Название населённого пункта с указанием региона</li>
    <li>Наименование учреждения в соответствии с уставом (для семейных команд можно указать фамилии, например "Семья Ивановых-Сидоровых")</li>
    <li>Адрес электронной почты Представителя</li>
</ul>
<span class="agreementText">Направляя письмо в адрес Оргкомитета Фестиваля с просьбой о регистрации, вы, тем самым, соглашаетесь предоставить адрес электронной почты Представителя для использования в системе регисрации Фестиваля «RoboSense».</span>
<h3>Завершение регистрации Представителя</h3>
<p>После обработки поступившей заявки на адрес электронной почты Представителя будет отправлена ссылка-приглашение для самостоятельной регистрации Личного кабинета (если приглашение долго не поступает, проверьте папку «Спам»).</p>
<p>Пройдя по ссылке, Представитель попадёт на страницу регистрации, где ему нужно будет установить пароль для входа в Личный кабинет и согласиться с предоставлением своих персональных данных.</p>
<p>После этого он сможет осуществлять регистрацию Руководителей, Участников и Команд по выбранным Номинациям.</p>
<span class="agreementText">Приглашение действительно для однократной регистрации Представителя.<br />После успешной регистрации ссылка становится недействительной.<br />При поступлении повторной заявки на регистрацию Представителя все данные об уже зарегистрированном Представителе будут удалены из системы регистрации.</span>
    <h3>Порядок регистрации Представителем Участников, Руководителей и Команд своего учреждения/семьи</h3>
    <span class="agreementText">Внимание! Представтель должен иметь определённое законом РФ № 152-ФЗ «О персональных данных» согласие Руководителя и Участников команд на предоставление их персональных данных МАОУДО Центр "Диалог" для целей регистрации на Фестиале «RoboSense».</span>
    <p>Персональные данные Руководителя команды:</p>
    <ul>
        <li>Фамилия, имя и отчество</li>
        <li>Пол</li>
        <li>День рождения</li>
        <li>Телефон</li>
        <li>Адрес электронной почты</li>
        <li>Принадлежность к команде</li>
    </ul>
    <p>Персональные данные Участника команды:</p>
    <ul>
        <li>Фамилия, имя и отчество</li>
        <li>Пол</li>
        <li>День рождения</li>
        <li>В каком классе/группе какого образовательного учреждения обучается/воспитывается</li>
        <li>Принадлежность к команде</li>
    </ul>
    <p>Пользуясь меню в Личном кабинете (красный квадратик в левой части страницы), Представитель вводит данные о Руководителях, Участниках и Командах учреждения/семьи, которые он представляет. Порядок ввода информации следующий:</p>
    <ul>
        <li>Ввод данных Руководителей</li>
        <li>Ввод данных Участников</li>
        <li>Формирование Команд из Руководителей и Участников</li>
    </ul>
    <p>Регистрация на каждую Номинацию Фестиваля имеет свои ограничения, прописанные в соответствующем регламенте Номинации.</p>
    <p>Программа регистрации проверяет соответствие вводимых данных этим ограничениям и в случае несоответствия выдаёт предупреждающие сообщения.</p>
    <p>Регистрация на каждую из Номинаций заканчивается за день до проведения Номинации. Дата открытия регистрации команд и участников указана в общем регламенте Фестиваля.</p>
