@{
    ViewBag.Title = "Регламенты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>РЕГЛАМЕНТЫ</h3>
<h4>Регламенты дистанционного участия</h4>
<ul>
    <li><a href='~/Files/BBB_manual.pdf'>Инструкция по работе с сервером видеоконференц-связи</a></li>
    <!--
    <li><a href='~/Files/LegoRegulationsDistance.pdf'>«Лучший LEGO-моделист»</a></li>
    <li><a href='~/Files/MoodleTestManual.pdf'>Краткая инструкция по прохождению теста I этапа номинации «Лучший LEGO-Моделист»</a></li>
    <li><a href='~/Files/FreeStyleJuniorRegulationsDistance.pdf'>«Первый шаг в робототехнику»</a></li>
    <li><a href='~/Files/FreeStyleRegulationsDistance.pdf'>«FreeStyle»</a></li>
        -->
</ul>
<h4>Общий</h4>
<a href='~/Files/FestivalRegulations.pdf'>Регламент Фестиваля «RoboSense 2021»</a>
<h4>Регламенты номинаций</h4>
<ul>
    <!--<li><a href='~/Files/JuniorRegulations.pdf'>«Юниор»</a></li>-->
    <li><a href='~/Files/LegoRegulations.pdf'>«Лучший LEGO-моделист»</a></li>
    <li><a href='~/Files/FreeStyleJuniorRegulations.pdf'>«Первый шаг в робототехнику»</a></li>
    <li>
        <a href='~/Files/CompetitionsRegulations.pdf'>«Соревновательный трек»</a>
        <ul>
            <li><a href='~/Files/DrawerReglament.pdf'>Дисциплина «Четрёжник»</a><br /><a href='~/Files/DrawerField.pdf'>Поле «Четрёжник»</a></li>
            <li><a href='~/Files/FollowLineReglament.pdf'>Дисциплина «Езда по линии»</a><br /><a href='~/Files/FollowLineField.pdf'>Поле «Езда по линии»</a></li>
            <li><a href='~/Files/SorterReglament.pdf'>Дисциплина «Уборка радиоактивных отходов»</a><br /><a href='~/Files/SorterField.pdf'>Поле «Уборка радиоактивных отходов»</a></li>
            <li><a href='~/Files/LabyrinthReglament.pdf'>Дисциплина «Лабиринт»</a><br /><!--<a href='~/Files/LabyrinthField.pdf'>Поле «Лабиринт»</a></li>-->
<li><a href='~/Files/SkittleRingReglament.pdf'>Дисциплина «Кегельринг»</a></li>
        </ul>
    </li>
    <li><a href='~/Files/FreeStyleRegulations.pdf'>«FreeStyle»</a></li>
    <li><a href='~/Files/InitialWordRegulations.pdf'>«Вначале было слово»</a></li>
</ul>