@{
    ViewBag.Title = "Готовится к публикации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>Содержимое этого раздела находится в стадии разработки. Попробуйте обратиться к данному ресурсу позднее.</p>