@{
    ViewBag.Title = "Завершение регистрации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="rightAligned">@Html.ActionLink("Вернуться к списку представителей", "Accounts")</p>
<fieldset id="tableFS">
    <legend>@ViewBag.Title</legend>
    <p>На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации</p>
</fieldset>