@{
    ViewBag.Title = "Подтверждение сброса пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>@ViewBag.Title.</h4>
<p>Ваш пароль переустановлен. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>